<p><hr/>
  <h2><span style="color: red;">/api/hosts/create_event</span> 建立活動需要欄位</h2>
  <%= form_for :e, :url=>'/api/hosts/create_event' do |f| %>
    <%= f.text_field :id, :type=>'hidden' %>
    <table style="border: 1px solid #555;width: 50%;">
    <tr>
      <td><%= f.label :name, "*名稱-name" %></td>
      <td><%= f.text_field :name%></td>
    </tr>
    <tr>
      <td><%= f.label :cover, "封面圖-cover" %></td>
      <td><%= f.file_field :cover%></td>
    </tr>
    <tr>
      <td><%= f.label :holding_date, "*舉行日期-holding_date(YYYY-MM-DD)" %></td>
      <td><%= f.text_field :holding_date%></td>
    </tr>
    <tr>
      <td><%= f.label :desc, "描述-desc" %></td>
      <td><%= f.text_area :desc, :row=>15, :col=>10%></td>
    </tr>
    <tr>
      <td><%= f.label :has_location, "*是否有地點資訊?-has_location" %></td>
      <td><%= f.check_box :has_location%></td>
    </tr>
    <table style="background-color: #F7F7F7; padding-left:20px; width: 50%;">
      <tr>
        <td><h4>有地點資訊這區才顯示</h4>
        <td><h4><a href="http://app.essoduke.org/twzipcode/">可參考套件</a></h4>
      </tr>
      <tr>
        <td><%= f.label :city, "城市-city" %></td>
        <td><%= f.text_field :city%></td>
      </tr>
      <tr>
        <td><%= f.label :district, "行政區-district" %></td>
        <td><%= f.text_field :district%></td>
      </tr>
      <tr>
        <td><%= f.label :address, "地址-address" %></td>
        <td><%= f.text_field :address%></td>
      </tr>
      <tr>
        <td><%= f.label :place_name, "地點名稱-place_name" %></td>
        <td><%= f.text_field :place_name, :placeholder=>"Neil豪宅"%></td>
      </tr>
    </table>
    </table>
    <button type="submit">GOGOGO</button>
  <%end%>
</p>

<br><br><br><br>


<%events = current_user.events.includes(:questionnaires)%>

<p><hr/>
<h2><span style="color: red;">/api/hosts/events</span> 你會收到的JSON</h2>
<h3>
  <a href="http://jsoneditoronline.org">附贈JSON Parser，自行複製貼上</a>
</h3>
<h3 style="background-color: #CCCCCC"><%=events.as_json(:view=>true).to_json%></h3>
</p>

<br><br><br><br>

<p><hr/>
  <h3>活動列表</h3>
  <%events.each do |e|%>
    <div style="border: 1px solid #555; width:33%; float: left;">
      <h4><a href="/hosts/test_event?id=<%=e.id%>">活動名稱:<%=e.name%></a></h4>
      <h5>舉行日期:<%=e.holding_date.strftime("%F")%></h5>
      <h5>含地點資訊:<%=e.has_location.to_s%></h5>
    </div>
  <%end%>
</p>

<br><br><br><br>